<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>افزودن کارمند جدید</title>
		<link rel="stylesheet" href="/css/add-employee.css" />
	</head>
	<body>
		<div class="container">
			<!-- Sidebar -->
			<aside class="sidebar">
				<div class="company-logo">
					<h1>مدیریت ترانسپورت</h1>
				</div>
				<nav class="menu">
					<ul>
						<li><a href="/dashboard">دشبورد</a></li>
						<li>
							<a href="/employees" class="active"
								>کارمندان / اضافه کردن کارمند
							</a>
						</li>
						<li><a href="/vehicles">وسایل نقلیه</a></li>
						<li><a href="/letters">مکتوب ها</a></li>
					</ul>
				</nav>
			</aside>

			<!-- Main Content -->
			<main class="content">
				<header>
					<h2>افزودن کارمند جدید</h2>
					<div class="user-info">
						<span>خوش آمدید: ادمین</span>
					</div>
				</header>

				<!-- Add Vehicle Form -->
				<form
					class="vehicle-form"
					method="POST"
					action="/employees/add_employee"
					enctype="multipart/form-data">
					<label for="name">نام</label>
					<input
						name="name"
						type="text"
						id="name"
						placeholder="نام کارمند را وارد کنید" />

					<label for="fatherName">نام پدر</label>
					<input
						type="text"
						name="fatherName"
						id="fatherName"
						placeholder="نام پدر کارمند را وارد کنید" />

					<label for="lastName">تخلص</label>
					<input
						type="text"
						id="lastName"
						name="lastName"
						placeholder="تخلص کارمند را وارد کنید" />

					<label for="currentLocation">سکونت فعلی</label>
					<input
						type="text"
						name="currentLocation"
						id="currentLocation"
						placeholder="سکونت فعلی را وارد کنید" />

					<label for="birthLocation">سکونت اصلی</label>
					<input
						type="text"
						name="birthLocation"
						id="birthLocation"
						placeholder="سکونت اصلی را وارد کنید" />

					<label for="birthDate">تاریخ تولد</label>
					<input
						type="text"
						id="birthDate"
						name="birthDate"
						placeholder="تاریخ تولد را وارد کنید" />

					<label for="phoneNumber">شماره تماس</label>
					<input
						type="number"
						id="phoneNumber"
						name="phoneNumber"
						placeholder="شماره تماس کارمند را وارد کنید" />

					<label for="email">ایمیل</label>
					<input
						type="email"
						id="email"
						name="email"
						placeholder="ایمیل کارمند را وارد کنید" />

					<label for="empolyeeType">عنوان وظیفه</label>
					<input type="text" id="employeeType" name="employeeType" />

					<label for="idCardNumber">نمبر تذکره</label>
					<input
						type="number"
						name="idCardNumber"
						id="idCardNumber"
						placeholder="نمبر تذکره را وارد کنید" />

					<!-- Employee photo -->
					<label for="file">عکس کارمند</label>
					<input
						type="file"
						name="file"
						id="file"
						placeholder="عکس کارمند را انتخاب کنید" />

					<label for="hireDate">تاریخ استخدام</label>
					<input
						type="text"
						name="hireDate"
						id="hireDate"
						placeholder="تاریخ استخدام را وارد کنید" />

					<label for="department">آمریت مربوطات</label>
					<input
						type="number"
						name="department"
						id="department"
						placeholder="دیپارتمنت را وارد کنید" />

					<label for="bast">رتبه</label>
					<input
						type="text"
						name="bast"
						id="bast"
						placeholder="بست را وارد کنید" />
					<button type="submit">ثبت</button>
				</form>
			</main>
		</div>
	</body>
</html>
